DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mototec
SECRET_KEY=mototec-enterprise-secret-key-17gb-change-in-production
GOOGLE_SHEETS_ID=1q6wy9iO4aRDKMBPzxR9cISE7pCmUuIaYSRBdhUNlM4Q
GOOGLE_CREDENTIALS_PATH=config/credentials.json
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
FIPE_API_URL=https://parallelum.com.br/fipe/api/v1
ALERT_CHECK_INTERVAL=1
