# PostgreSQL
DATABASE_URL=postgresql://motomec:password@localhost:5432/motomec17gb

# Google Sheets
GOOGLE_SHEETS_ID=1q6wy9iO4aRDKMBPzxR9cISE7pCmUuIaYSRBdhUNlM4Q
GOOGLE_CREDENTIALS_PATH=config/credentials.json

# Telegram
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=seu_chat_id_aqui

# FIPE API
FIPE_API_URL=https://parallelum.com.br/fipe/api/v1

# Auth
SECRET_KEY=sua_chave_secreta_aqui_use_openssl_rand_hex_32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
DEBUG=true
ALERT_CHECK_INTERVAL=1
